---
layout: default
---

<div class="frontpage">
    <ul class="top">
    {% for department in site.data.menu limit:3 %}
        <li>
           <section>
               <div class="section-frontpage">
                   <div class="block-image">
                       <a href="{{ baseurl }}/{{ department.href }}"><img src="{{ baseurl }}/{{ department.src}}" alt=""> </a>
                   </div>
                   <div class="block-text">
                       <div class="title"><a href="{{ baseurl }}/{{ department.href }}">{{ department.title }}</a></div>
                       <div class="text">{{ department.text }}</div>
                   </div>
               </div>
            </section>                       
        </li>
        {% endfor %}
    </ul>
    <ul class="bottom">
    {% for department in site.data.menu offset:3 %}
        <li>
            <section>
                <div class="section-frontpage">
                    <div clas="title"><a href="{{ baseurl }}/{{ department.href }}"> {{ department.title }}</a></div>            
                    <div class="text">{{ department.text }}</div>      
                </div>
            </section>
        </li>
        {% endfor %}
    </ul>
</div>

