<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="footer-left">
            <p>© Αποστ. Παπαδόπουλος &amp; Σια Ο.Ε.</p>
      </div>
        <div class="footer-right">
            <ul>	
             {% for menu in site.data.menu-footer %}                     

             <li>
                 <a href="{{ site.baseurl }}/{{ menu.href }}">{{ menu.title }}</a>

             </li>
             {% endfor %}
          </ul>    
      </div>
  </div>
<!--      <script src="{{ "js/build.js" | prepend: site.baseurl }}"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.matchHeight-min.js"></script>
        <script>
            $( document ).ready(function() {
                var test = $('ul.bottom').find('.section-frontpage');
                $(test).matchHeight();
                });           
            </script>
                
    
</footer>
