<header class="site-header">

  <div class="top-header-wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"> <img src="{{ site.baseurl }}/images/logo.png" alt="Meatcompany"> </a>
       <div class="top-menu-wrapper">
        <nav class="top-menu">
           {% for menu in site.data.menu-top %}                    
             <li>
                 <a href="{{ site.baseurl }}/{{ menu.href }}">{{ menu.title }}</a>

             </li>
             {% endfor %}       
        </nav>
</div>
  </div>
    <div class="navigation-wrapper">
                   <nav class="main-menu" role="navigation">	
                       {% for menu in site.data.menu %}  
                           <li>
                               <a href="{{ site.baseurl }}/{{ menu.href }}">{{ menu.title }}</a>                                   
                           </li>
                       {% endfor %}           
                    </nav>   
        </div>
</header>
