@import "bower_components/susy/sass/susy";

$base-font-family: "Ubuntu";
$background-color: #231f20;
$header-links-color-a: #ffffff;
$header-links-color-hover: #fddb77;
$text-color: #ffffff;
$base-line-height: 2;
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}




/**
 * Lists
 */
ul, ol {
    margin-left: 0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/**
 * Header inks
 */
.site-header {
        a {
        color: $header-links-color-a;
        text-decoration: none;

        &:visited {
            color: darken($header-links-color-a, 15%);
        }

        &:hover {
            color: $header-links-color-hover;
            text-decoration: none;
        }
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}








/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}




.frontpage {
    ul.top {
        list-style-type:none;
        padding:0;
        margin:0;
        overflow:hidden;
            .title {           
            font-size: 3rem;
            padding: 0 0 2rem 0;
            font-weight: bold;
                a {
                   color: #fff;  
                }
             }
            .text {
                color: #fff;        
            }
    }
    ul.bottom {
        list-style-type:none;
        padding:0;
        margin:0 0 $spacing-unit 0;
        overflow:hidden;
        .section-frontpage {
            background: #efc51f;
            padding: 2rem;
            color: #323232;
            .title {
            text-align: center;
            margin: 0 0 2rem 0;
            }
        }        
        a {
        color: #323232;
        font-size: 1.8rem;        
        font-weight: bold     
        }
    }
}
.company {
    ul {
        list-style-type:none;
        padding:0;
        margin:0;
        overflow:hidden;
            .title {
           color: #fff;  
            font-size: 3rem;
            padding: 0 0 2rem 0;
            font-weight: bold;
             }
            .text {
                color: #fff;        
            }
    }    
}
.post-header {
    @include container;
    img {
        width:100%;
    }
    .post-title {
    color: #fff;
    font-size: 3rem;
    padding: 2rem 0 2rem 0;
    font-weight: bold;
    
}
    
}

.post-content {
    color: #fff; 
}
.allantopio ul {
    @include container;
li{
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    @include gallery(4 of 12);
    margin-bottom: gutter(12);
        .title {
            font-size: 1.3rem;
        }
    }
}
.rendering {
    text-align: center;
    font-size: 1.8rem;
    h1 {
        font-size: 4rem;
        margin-bottom: $spacing-unit;
    }
    h2 {
        font-size: 2.8rem;
        margin-top: $spacing-unit*2;
        margin-bottom: $spacing-unit;
    }
}
.navigation-wrapper {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    color:#fff;;
    a {
        color:#fff;
    }
}


